<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <style>
        .content {
            margin-top: 100px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top container-fluid">
        <div class="row">
            <div class="navbar-header col-md-9">
                @Html.ActionLink("Quản lý hoạt động kiểm toán", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="col-md-3">
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right dropdown">
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-envelope"></i>
                                <span class="visible-xs-inline">Tin nhắn</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-user fa-fw"></i>
                                Phạm Hùng Anh
                                <ul class="dropdown-menu">
                                    <li><a href="#"><i class="fa fa-pencil fa-fw"></i> Thay đổi thông tin</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#"><i class="fa fa-key fa-fw"></i> Thay đổi mật khẩu</a></li>
                                </ul>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-home fa-fw"></i> Trang chủ</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-building-o fa-fw"></i> Kế hoạch kiểm toán</a>
                    <ul class="dropdown-menu">
                        <li><a href="#"><i class="fa fa-users fa-fw"></i> Cập nhật kế hoạch kiểm toán năm</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-line-chart fa-fw"></i> Quản lý tiến độ</a>
                    <ul class="dropdown-menu">
                        <li><a href="#"> <i class="fa fa-pencil-square-o fa-fw"></i> Cập nhật tiến độ kiểm toán</a></li>
                        <li class="divider"></li>
                        <li><a href="#"> <i class="fa fa-cubes fa-fw"></i> Tiến độ cuộc kiểm toán tham gia</a></li>
                        <li class="divider"></li>
                        <li><a href="#"> <i class="fa fa-cubes fa-fw"></i> Tiến độ các cuộc kiểm toán của đơn vị</a></li>
                        <li><a href="#"> <i class="fa fa-money fa-fw"></i> Tiến độ các kiểm toán của nhóm đơn vị</a></li>
                        <li><a href="#"> <i class="fa fa-money fa-fw"></i> Tiến độ các kiểm toán của toàn ngành</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-copy fa-fw"></i> Báo cáo tiến độ</a>
                    <ul class="dropdown-menu">
                        <li><a href="#"><i class="fa fa-shopping-cart fa-fw">   </i> Danh sách các cuộc kiểm toán</a></li>
                        <li class="divider"></li>
                        <li><a href="#"><i class="fa fa-cog fa-fw"> </i> Phụ biểu 01 - Tổng hợp tiến độ kiểm toán</a></li>
                        <li><a href="#"><i class="fa fa-list fa-fw"> </i> Phụ biểu 02 - Tiến độ thực hiện và phát hành BCKT</a></li>
                        <li><a href="#"><i class="fa fa-list fa-fw"> </i> Phụ biểu 03 - Đánh giá tiến độ phát hành BCKT</a></li>
                    </ul>
                </li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </nav>
    <div class="container-fluid body-content content">
        @RenderBody()
    </div>
    <hr />
    <footer class="text-center">
        <p>&copy; @DateTime.Now.Year - Kiểm toán Nhà nước</p>
    </footer>

</body>
</html>
